* {
  direction: ltr;
}

*:lang(ar) {
  direction: rtl;
}

.cs-toggler {
  position: relative;
  display: block;
  width: 100%;
  box-shadow: none;
  outline: none;
  border: 1px solid #dddada;
  border-radius: 5px;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 1.8rem;
  background-color: #ffffff;
  cursor: pointer;
}

.cs-toggler:lang(ar) {
  text-align: right;
  padding-right: 0.5rem;
  padding-left: 1.8rem;
}

.cs-toggler::after {
  content: '\25be';
  position: absolute;
  width: auto;
  font-size: 1.2rem;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cs-toggler:lang(ar):after {
  left: 10px;
  right: auto;
}

.cs-toggler p {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cs-toggler p {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.cs-toggler p .image {
  width: 30px;
  height: auto;
}

.cs-toggler p .name {
  margin-left: 0.5rem;
}

.cs-toggler p .name:lang(ar) {
  margin-left: 0;
  margin-right: 0.5rem;
}

.cs-dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #dddada;
  margin-top: 0;
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cs-dropdown .cs-item {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.325rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.7s;
}

.cs-dropdown .cs-item:hover {
  background-color: #efefef;
}

.cs-dropdown .cs-item:lang(ar) {
  text-align: right;
}

.cs-dropdown .cs-item .cimg {
  width: 30px;
  height: 30px;
}

.cs-dropdown .cs-item .cname {
  margin-left: 0.5rem;
}

.cs-dropdown .cs-item .cname:lang(ar) {
  margin-left: 0;
  margin-right: 0.5rem;
}

.cs-filter-input{
  width: 100%;
  border: 1px solid #efefef;
  box-shadow: none;
  outline : none;
  height: 35px;
  padding : 0 1rem ;
}